@model Sistema_de_Gestion_de_Importaciones.Models.Empresa

@{
    ViewData["Title"] = "Eliminar Empresa";
}

<h1>Eliminar Empresa</h1>

<h3>¿Está seguro que desea eliminar esta empresa?</h3>
<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEmpresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEmpresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEmpresa" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
