@model API.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>Editar Usuario</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password_hash" class="control-label"></label>
                <input asp-for="password_hash" class="form-control" />
                <span asp-validation-for="password_hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_creacion" class="control-label"></label>
                <input asp-for="fecha_creacion" class="form-control" />
                <span asp-validation-for="fecha_creacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="activo" class="control-label"></label>
                <input asp-for="activo" class="form-control" />
                <span asp-validation-for="activo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>